/* -------------------------------------------- */
/* Stylesheet fuer Tools im Intranet            */
/* Thomas Hofmann, Sep 2005                     */
/*                                              */
/* -------------------------------------------- */

html {
	background-color: #eeeeee;
	font-family: Arial,Helvetica,Helv,sans-serif;
}

/*
body {
	background-color: #eeeeee;
	font-family: Arial,Helvetica,Helv,sans-serif;
}
*/

body > h1 {
	background: #f9f9f9;
	text-align: center;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #ddd;
	box-shadow: 4px 6px 10px grey;
}

.webfehler {
/*border: thin solid red;*/
background-color: #fcc;
border-top: 3px solid #fee; /*#f66;*/
border-bottom: 3px solid #900;
/* langt es nicht, wenn 'Fehler' fett ist? */
/*font-weight: bold;*/
}

.webhinweis {
/*border: thin solid green;*/
border-bottom: 3px solid #64b5c8;/*green;*/
background-color: #a4f5f8; /*#eff;*/
}

input[readonly] {
color: #666666;
background-color: #cccccc;
}

textarea[readonly] {
color: #666666;
background-color: #cccccc;
width: 100em;
height: 20em;
}

.hinterlegt {
margin: 1px 1px 1px 1px;
/*border: thin dotted black;*/
font-style: normal;
font-family: monospace;
font-size: 9pt;
background-color: #ffffcc;
}

fieldset {
	padding: 10px;
	background-color: #ffffcc;
}

/*
label[for~=optionen] {
	position: relative;
	top: 5px;
	left: 10px;
	padding: 2px;
	border: 2px groove #cccccc;
*/
	/*margin-top: 20px;*/
	/*margin-left: 10px;*/
/*
	background-color: #aaaaff;
}
label[for~=parsen] {
	position: relative;
	top: 5px;
	left: 10px;
	padding: 2px;
	border: 2px groove #cccccc;
	background-color: #aaaaff;
}
*/

legend {
	padding: 1px;
	border: 2px groove #cccccc;
	background-color: #aaaaff;
}

.katwahl {
	border-top: 3px solid #FDE7D6; /*#F8Cd5f;*/
	background-color: #F5DECD; /*#F2D2BB;*/ /*#E1D2BB;*/ /*#e8ad3f;*/ /* ffc */
	border-bottom: 3px solid #D5BEAD; /*#B87d1f;*/
	/*border: thin solid #999999;*/
	/*border-left: 3px solid #ffe;
	border-right: 3px solid #cc9;*/
	float: left;
	width: 200px;
	margin-right: 20px;
	box-shadow: 4px 6px 10px grey;
}

.katwahltit {
	background-color: #E8AD3F; /*#E8AD3F;*/ /*#e1d2bb;*/ /* #ee9; */
	border-bottom: 3px solid #C88D1F; /*#C1B29b;*/ /* #cc9;  */
	margin: 0px;
	padding: 5px;
}

.katwahl > p {
	margin: 5px;
}

.katwahl > ol {
	/*margin-left: 25px;*/
	margin-top: 2px;
	margin-right: 5px;
	margin-bottom: 5px;
}


.faq {
	margin-left: 220px;
}

.faqfragen {
	/*border: thin solid #999999;*/
	background-color: #eeeeee;
}

.faqfragtit {
	border-top: 3px solid #9debff; /*#eef;*/
	background-color: #7dcbef; /*#ddf;*/
	border-bottom: 3px solid #4d9bbf; /*#99c;*/
	/*border: thin solid #999999;*/
	/*border-bottom: thin solid #999999;*/
	/*border-left: 3px solid #ddf;
	border-right: 3px solid #ddf;*/
	margin: 0px;
	padding: 5px;
	box-shadow: 4px 6px 10px grey;
}

.faqantworten {
	margin-top: 10px;
	/*border: thin solid #999999;*/
	background-color: #eeeeee;
}

.faqanttit {
	border-top: 3px solid #a4f5f8; /*#eff;*/
	background-color: #94e5f8; /*#dff;*/
	border-bottom: 3px solid #64b5c8; /*#acc;*/
	/*border-bottom: thin solid #999999;*/
	/*border: thin solid #999999;*/
	/*border-left: 3px solid #dff;
	border-right: 3px solid #dff;*/

	margin: 0px;
	padding: 5px;
	box-shadow: 4px 6px 10px grey;
}

.editfaqanttit {
	border-top: 3px solid #94E5F8; /*#fef;*/
	background-color: #74C5D8; /* #fcf;*/
	border-bottom: 3px solid #54A5B8; /*#c9c;*/
	/*border-bottom: thin solid #999999;*/
	/*border: thin solid #999999;*/
	/*border-left: 3px solid #fcf;
	border-right: 3px solid #fcf;*/
	margin: 0px;
	padding: 5px;
	box-shadow: 4px 6px 10px grey;
}


.faqantworten dt {
	font-weight: bold;
	box-shadow: -2px 3px 3px grey;
	margin-bottom: 5px;
	padding: 2px 2px 2px 2px;
}

.faqantworten dd {
	border-bottom: 2px solid #64b5c8; /*#699;*/
	/*border-bottom: thin dashed #999999;*/
	margin-bottom: 20px;
	padding-bottom: 5px;
	padding-bottom: 0;
	box-shadow: 0 2px 0px #64b5c8;
	padding-left: 4px;
}

.zufragen {
	background: #94e5f8; /*#add;*/
	border-left: 3px solid #94e5f8; /*#add;*/
	/*border-right: 3px solid #699;*/
	/*border-bottom: 3px solid #add;*/
	/*border-top: 3px solid #add;*/
	display: block;
	/*font-size: x-small;*/
	font-size: small;
	margin-top: 10px;
	margin-left: 0;
	margin-right: auto;
	margin-bottom: 0;
	max-width: 110px;
	padding-left: 5px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-decoration: none;
	box-shadow: 3px -3px 5px grey;
}

.katedit {
	background-color: #acfdff;
	/*border: thin solid #999999;*/
	/*float: left;*/
	width: 500px;
	/*margin-right: 20px;*/
	/*margin-right: auto;*/
	box-shadow: 4px 6px 10px grey;
}

.katedittit {
	border-top: 3px solid #a4f5f8;
	background-color: #94e5f8;
	border-bottom: 3px solid #64b5c8;
	/*border-bottom: thin solid #ff6666;*/
	/*border-left: 3px solid #faa;
	border-right: 3px solid #faa;*/
	margin: 0px;
	padding: 5px;
	box-shadow: 3px 3px 5px grey;
}

.kateditneu {
	border-bottom: 3px solid #94e5f8;
	/*border-top: 3px solid #fcc;*/
	/*border-left: 3px solid #faa;
	border-right: 3px solid #faa;*/
	/*border: thin solid #999999;*/
	/*background-color: #ffdddd;*/
	/*float: left;*/
	/*width: 500px;*/
	/*margin-right: 20px;*/
	/*margin-right: auto;*/
	/*margin: 10px 20px 10px 20px;*/
	margin-top: 0px;
	padding: 10px 20px 10px 20px;
	/*background-color: #ccccff;*/
}

.kateditneutit {
	border-top: 3px solid #a4f5f8;
	background-color: #94e5f8;
	border-bottom: 3px solid #64b5c8;
	/*border-left: 3px solid #faa;
	border-right: 3px solid #faa;*/
	/*border-bottom: thin solid #ff6666;*/
	margin: 0px;
	padding: 5px;
	box-shadow: 3px 3px 5px grey;
}

.kateditchecktit {
	border-top: 3px solid #FDE7D6;
	background-color: #E8AD3F;
	border-bottom: 3px solid #C88D1F;
	/*border: thin solid red;*/
	/*border-bottom: thin solid red;*/
	/*border-bottom: thin solid #6666ff;*/
	/*border-left: 3px solid #99f;
	border-right: 3px solid #99f;*/
	margin: 0px;
	padding: 5px;
	box-shadow: 3px 3px 5px grey;
	z-index: 103;
}

.kateditcheck {
	background-color: #F5DECD;
	/*margin: 10px 20px 10px 20px;*/
	margin-top: 0px;
	padding: 1px 20px 10px 20px;
}

.faqtitedit {
	border-top: 1px solid #a4f5f8; /*#ddd;*/
	background-color: #94e5f8; /*#eee;*/
	border-bottom: 4px solid #64b5c8; /*#aaa;*/
	border-left: 1px solid #a4f5f8; /*#ddd;*/
	border-right: 4px solid #64b5c8; /*#ccc;*/
	/*border: 2px outset #ffffff;*/
	/*border-top: 3px solid #eee;*/
	/*border-left: 3px solid #eee;*/
	position: relative;
	top: -2px;
	padding: 2px 2px 2px 2px;
	/*margin-bottom: 2px;*/
	font-size: x-small;
	text-decoration: none;
	/*border: thin solid red;*/
	box-shadow: 3px 3px 5px grey;
}

.faqedit {
	background-color: #acfdff; /*#fdd;*/
	border-bottom: 3px solid #94e5f8; /*#caa;*/
	/*border: thin solid #999999;*/
	/*border-top: 3px solid #eee;
	border-bottom: 3px solid #aaa;*/
	/*border-left: 3px solid #eee;
	border-right: 3px solid #ccc;*/
	/*float: left;*/
	width: 850px;
	/*margin-right: 20px;*/
	/*margin-right: auto;*/
	padding-bottom: 3px;
	box-shadow: 4px 6px 10px grey;
}

.faqedittit {
	border-top: 3px solid #a4f5f8; /*#fdd;*/
	background-color: #94e5f8; /*#faa;*/
	border-bottom: 3px solid #64b5c8; /*#c77;*/
	/*border-bottom: thin solid #f66;*/
	/*border-left: 3px solid #faa;
	border-right: 3px solid #faa;*/
	margin: 0px;
	padding: 5px;
	box-shadow: 3px 3px 5px grey;
}

.faqeditchecktit {
	border-top: 3px solid #FDE7D6; /*#ccf;*/
	background-color: #E8AD3F; /*#99e;*/
	border-bottom: 3px solid #C88D1F; /*#66b;*/
	/*border-bottom: thin solid #6666ff;*/
	/*border-left: 3px solid #99e;
	border-right: 3px solid #99e;*/
	margin: 0px;
	padding: 5px;
	box-shadow: 3px 3px 5px grey;
}

.faqeditcheck {
	background-color: #F5DECD; /*#ccccff;*/
	/*margin: 10px 20px 10px 20px;*/
	margin-top: 0px;
	padding: 1px 20px 10px 20px;
	/*border: thin solid red;*/
}

.faqedit > p {
	margin: 20px;
}

b > code, code > b {
	font-weight: 900;
	/*font-style: italic;*/
	font-size: 1.1em;
}

.foundterm {
	font-weight: bold;
	background-color: #00ffff;
}

.hashblock {
	margin: 5px 5px 5px 5px;
}

.hashblock a {
	text-decoration: none;
}

.hashtag {
	padding: 0px 1px 0px 1px;
	margin: 1px 1px 1px 1px;
	text-decoration: none;
	border: thin solid #ccc;
	color: #699;
	background: #ddd;
}

.hashtag:visited, .hashtag a:visited {
	color: #aaaaaa;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
	box-shadow: 4px 6px 10px grey;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
